<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Define a target to write logs to a file -->
		<target xsi:type="File"
				name="logfile"
				fileName="logs/${shortdate}.log"
				archiveFileName="logs/archives/{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="90"
				layout="${longdate} ${uppercase:${level}} ${message} ${exception}" />
	</targets>

	<rules>
		<!-- All logs from Info level and above will be written to the file target -->
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>
