#root {
    width: 100%;
    margin: 0 auto;
}

main {
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
}

footer {
    padding: 1rem;
    color: white;
}

    footer div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

.logo {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: #fff;
}

    .logo a:link, .logo a:visited {
        color: #fff;
        text-decoration: none;
    }

.username {
    color: #fff;
    cursor: pointer;
}

    .username a:link, .username a:visited {
        color: #fff;
        text-decoration: none;
    }

nav .links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.header-one {
    color: #000;
    margin: 0 0 1rem 0;
}

#loginForm, #registerForm {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #ffff;
    padding: 2rem;
    width: 300px;
    margin: 0 auto;
    color: black;
}

label {
    color: #333;
    font-weight: bold;
}

#loginForm input, #registerForm input {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

#loginForm button, #registerForm button {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #4cff00;
    color: #333;
    cursor: pointer;
    width: 50%;
    margin-top: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s ease infinite;
}

.register-line {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.login-link {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-transform: capitalize;
}

a.login-link:link, a.login-link:visited {
    color: #fff;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: #fff;
    box-shadow: 4px 4px rgba(0,0,0,0.4);
    width: 150px;
}

    .dropdown a:link, .dropdown a:visited {
        color: #000;
        text-decoration: none;
        padding: 10px 10px 10px 5px;
    }
