.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

#content-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
}

.user-info {
  text-align: center;

  span {
    font-size: 0.9rem;
  }
}
.user-image img {
  width: 360px;
  height: 360px;
  object-fit: cover;
  border-radius: 50%;
  /* mask-image:
    linear-gradient(to top, transparent, black 20%, black 80%, transparent),
    linear-gradient(to right, transparent, black 20%, black 80%, transparent); */
  /* -webkit-mask-image:
    linear-gradient(to top, transparent, black 20%, black 80%, transparent),
    linear-gradient(to right, transparent, black 20%, black 80%, transparent); */
  /* mask-composite: intersect;
  -webkit-mask-composite: destination-in;
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat; */
}

.image-radial-gradient {
  mask-image: radial-gradient(farthest-side, black 60%, transparent 100%);
  -webkit-mask-image: radial-gradient(farthest-side, black 60%, transparent 100%);
  mask-mode: alpha;
  -webkit-mask-mode: alpha;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 100% 100%;
}

#user-background{
  top: 80px;
  left: 10px;
  z-index: -1;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

@media (max-width: 600px) {
  #user-background {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.follower-count {
  font-size: 1.2rem !important;
  font-weight: var(--font-weight-bold);
}


#user-lists {
display: flex;
flex-direction: column;
margin-bottom: 2rem;
}


.spotify-album-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  transition: all 0.3s;
}

.lists {
  display: flex;
  flex-wrap: wrap;
}

#user-lists h2, #user-top-artists h2, #user-top-tracks h2, #user-saved-tracks h2  {
  font-weight: var(--font-weight);
  font-size: 2rem;
  margin-bottom: 1rem;
}

#user-top-tracks h2 span, #user-saved-tracks h2 span {
  font-size: 0.8rem;
}

.top-artists-list {
  display: flex;
  flex-wrap: wrap;
  
}

.column-list {
  display: flex;
  flex-direction: column;
}

.popularity {
  background-color: var(--yellow-green);
  color: var(--raisin-black);
  padding: 0.3rem;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin-right: 1rem;
  letter-spacing: 1px;;
}

.item-added {
  background-color: var(--coral);
  color: var(--baby-powder);
  padding: 0.3rem;
  border-radius: 1rem;
  font-size: 0.7rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin-right: 1rem;
  letter-spacing: 2px;
}

.top-tracks-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.user-saved-tracks {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.user-top-artist-item img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-top-artist-item {
  border-radius: 50%;  
  width: 160px;
  height: 160px;
  overflow: hidden;
}

.list-item {
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 0.8rem;
}

.circle-image {
  border-radius: 50%;
  overflow: hidden;
}

.list-item a, .list-item .list-info {
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: var(--raisin-black);
  display: flex;
  width: 120px;
  height: 120px;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s;
}

.list-item a:hover, .list-item .list-info:hover {
  background: #0000009c;
  backdrop-filter: blur(7px);
  color: var(--baby-powder);
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);

  ul {
    display: block;
  }
}

.list-item ul {
  display: none;
  text-align: center;
}

.list-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.3s;
}


.currently-playing-container {
  position: fixed;
  right: 3rem;
  top: 4rem;
  color: var(--baby-powder);
  z-index: 1000;
  transition: all 0.3s;
}

.currently-playing-container:hover {
  width: 220px;
  height: auto;
  background: rgba(52, 46, 55, 0.822);
  backdrop-filter: blur(7px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  padding: 1rem;

  .track-info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  h2 {
    display: block;
  }

  img {
    width: 100%;
    height: fit-content;
  }
}

@media (max-width: 600px) {
  .currently-playing-container:hover {
    width: 220px;

  }

  .user-image img {
    width: 100%;
  }
#playback {
  margin-top: 2rem;
}

.list-item a{
  width: 120px;
  height: 120px;
}
}


.currently-playing-container div {
position: relative;
}

.currently-playing-container h2 {
  display: none;
  color: var(--baby-powder);
  width: 100%;
  transition: all 0.3s;
  font-weight: var(--font-weight);
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 0.5rem;
}

.currently-playing-container .track-info {
  display: none;
}

ul li {
  font-size: 0.8rem;
}

.column-list li {
  line-height: 2rem;
}

.list-name {
  font-size: 0.8rem;
  font-weight: var(--font-weight-bold);
  text-wrap: wrap;
}


.currently-playing-container ul li {
  color: var(--baby-powder);
  font-size: 0.9rem;
}


.track-name {
  font-weight: var(--font-weight);
  font-size: 0.9rem;
  color: var(--baby-powder) !important;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60ch;
}

.cp-message {
  background-color: var(--baby-powder);
  padding: 0.2rem;
  color: var(--raisin-black);
  font-size: 1rem;
  border-radius: 0.2rem;
}

.artist-line, .album-line {
  font-size: 0.6rem;
}

#playback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

.label {
  color: white;
  margin-right: 4px;
  font-size: 0.7rem;
  color: var(--yellow-green);
}

.artist-line, .album-line {        
  display: flex;
  flex-direction: column;
}

.track-name {
  padding: 1rem 0;
  font-size: 1rem !important;
}

.artist-line {
  margin-bottom: 0.3rem;
}




/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: var(--baby-powder);
  padding: 1rem;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow-y: auto;
  max-height: 80%;
  background-clip: padding-box;

   img {
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
  object-fit: contain;
   }
}

.modal-content h2 {
  font-size: 1.5rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: 1rem;
  color: var(--raisin-black);
}

.modal-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal-content ul li {
  color: var(--raisin-black);
}

.modal-content ul li p {
  margin: 0;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.8rem;
  font-weight: var(--font-weight-bold);
  color: var(--raisin-black);
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

